@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

body{
	overflow-x:hidden;
	font-family: 'Acme', sans-serif;
	color:#421111;

}

 /*---- Nav Scrolling Offset ---*/

.offset:before{
	height:4rem;
	margin-top:-4rem;
	content:"";
	display:block;
}

/*--- Extra Bootstrap Column Padding ----*/ 

[class*="col-"]{
	padding: 1rem;
}


/*============ NAVIGATION ============*/

.navbar{
	padding: .7rem 1rem;
	text-transform: uppercase;
	font-size: .9rem;
	font-weight: 700;
	letter-spacing: .1rem;
	transition: background-color .5s ease 0s;

}

.navbar-brand img{
	height:2rem;
	width:6rem;
	padding:0;
	margin: 0;
}

.svg-inline--fa.fa-w-14{
	color:white;
	font-size: 1.6rem;
}

.navbar-nav li{
	padding-right:.8rem;
}

.navbar-nav .nav-link{
	color:white;
	padding-top:.8rem;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover{
	color:#ffa500;
}

.navbar{
	background: rgba(0, 0, 0,0)!important;
	transition:background-color 1s ease 0s;
}

.navbar.solid {
  background: rgba(0, 0, 0, 0.7)!important;
  transition: background-color 1s ease 0s;
}

.nav-item #login{
	border-width: medium;
	border-radius: 0;
	padding:.5rem 1.1rem;
	font-size: 1.2rem;
	font-weight: 300;
	text-transform: uppercase;
	margin:.1rem; 
}


/*============ LANDING PAGE ============*/


.home-inner{
	background-image: url('../img/background.jpg');
}


.caption {
	width:100%;
	max-width: 100%;
	position:absolute;
	top:38%;
	z-index:1;
}


.caption h1{
	color:white;
	/* font-size: 4.5rem; */
	font-size: 7vw;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: .1rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}




.caption h3{
	color:white;
	/* font-size: 2.5rem; */
	font-size: 4vw;
	text-transform: uppercase;
	font-weight: 200;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1rem;
}



.btn-lg {
	border-width: medium;
	border-radius: 0;
	padding:.8rem 1.5rem;
	/* font-size: 1.1rem; */
	font-size:2vw;
	font-weight: 400;
	text-transform: uppercase;
	display:inline-block!important;
}

/*============ COFFEE SECTION ============*/
 .narrow{
 	width:75%;
 	margin:0 auto;
 	padding-top:2rem; 
 }

.btn-sm{
	border-width: medium;
	border-radius: 0;
	padding:.5rem 1.1rem;
	font-size: .9rem;
	font-weight: 400;
	text-transform: uppercase;
	margin:1rem; 
}

.btn-brown{
	border-color: #421111;
	background-color: #421111;
	color:white;

}

.btn-orange{
	border-color: #ffa500;
	background-color: #ffa500;
	color:white;
}

.btn-brown:hover,
.btn-brown:focus{
	border-color: #180606;
	background-color: #180606;
	color:white;
}


.btn-orange:hover,
.btn-orange:focus{
	border-color: #b27300;
	background-color: #b27300;
	color:white;
}


.jumbotron{
	margin-bottom: 0;
	border-radius: 0;
	padding: 1rem 0 3rem;

}

h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.9rem;

}

.heading-underline{
	width: 3rem;
	height: .2rem;
	background-color: #ffa500;
	margin:0 auto 2rem;

}

.service {
  text-align: center;
}

.service .fa-layers {
  color: #ffa500;
  margin: 0 auto;
  width: 3.9rem;
  height: 6rem;
}


.service h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
  padding-bottom: .4rem;
}
.service p {
  font-size: 1.1rem;
}


/*===== FIXED BACKGROUND IMG DARK =====*/

#fixed {
  background-image: url('../img/dark-background.jpg');
  z-index: -1;
}
.dark {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 7rem 2rem;
  text-align: center;
  z-index: 1000!important;
}
.dark h3, .dark p {
  color:#E9ECEF;
}


/*============= GIFTS SECTION =============*/

.row.padding {
  padding: 2rem 0 1rem;
}
img.example-img {
  max-width: 100%;
}
.row.no-padding [class*=col-] {
  padding: 0;
}
.gifts-item img:hover {
  transform: scale(1.3);
  cursor: zoom-in;
}
.gifts-item img {
  transition: transform .4s ease;
}
.gifts-item {
  overflow: hidden;
}
  /*============= OUR STORY SECTION =============*/

.story-column{
  background-color: white;
  padding: 2rem;
  border-top: .2rem solid  #ffa500;
  box-shadow: 0 0 .8rem rgba(0, 0, 0, 0.075);
  transition: transform .7s ease;
  overflow: hidden;
  position: relative;
}

.story-column:hover {
  transform: scale(1.1);
}
.story-column h3 {
  padding: 1rem;
  border-bottom: .1rem solid rgba(0, 0, 0, 0.1);
}
.story-column p {
  opacity: .8;
  margin-top: 1.3rem;
}
.story-column img {
  max-width: 100%;
  padding: .4rem;
  overflow: hidden;
  transition: transform .4s ease;
}


/*============= FOOTER SECTION =============*/

footer{
	background: url('../img/footer.jpg') no-repeat;
	background-size: cover;
	color:white;
}

footer .row{
	background-color: rgba(25.9, 6.7, 6.7,0.85);
	padding:1rem 2rem 3rem;
}

footer img{
	height: 2rem;
	margin:1.5rem 0rem; 
}

footer a{
	color: white;
}

footer svg.svg-inline--fa{
	font-size: 1.6rem;
	margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover{
	color: #ffa500;
}

/*============LOGGING IN PAGE==========*/

form {
	transition: background 0.5s ease;
}

.field-name{
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:white;
	height: 3.125rem;
	width: 25rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.5s ease;
}


.field-password{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:white;
	height: 3.125rem;
	width: 25rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.5s ease;
} 

.field-finish{
	position: absolute;
	top:60%;
	left: 60%;
	transform: translate(-50%, -50%);
	background:none;
	height: 3.125rem;
	width: 25rem;
	display:flex;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.5s ease;
}


.fa-user,
.field-name > svg:nth-child(3),
.fa-key,
.field-password > svg:nth-child(3){
	margin:2px;
	padding: 2px;
	font-size: 1.5rem!important;
	color:#421111!important;
}


.field-name input,
.field-password input{
	background:none;
	border:none;
	height: 100%;
	outline: none;
	padding:10px;
	flex:1;
}

form a{
	font-size: 1.8rem;
	text-decoration: none;
	color:#ffa500;
}

form a:hover{
	text-decoration: none;
	color:#b27300;
}

/*======= START WELCOME PAGE =====*/

.fa-user-circle{
	margin:2px;
	font-size: 2rem!important;
	color:#00FF00!important;
}

.fa-comments{
	margin:2px;
	font-size: 2rem!important;
	color:#00FF00!important;
}


#comment_icon{
	color:#00FF00!important;
}


/*======= END WELCOME PAGE =====*/


/*======= START FORUM PAGE =====*/


#forum_background{
	width:100%;
	height:100vh;
	background-color:rgba(0, 0, 0, 0.75);
}

.area-name{
	position: absolute;
	top:40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:white;
	height: 3.125em;
	width: 25em;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.5s ease;
}


.area-comment{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background:white;
	height: 3.125rem;
	width: 25rem;
	display:flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.5s ease;
} 

.area-finish{
	position: absolute;
	top:60%;
	left: 60%;
	transform: translate(-50%, -50%);
	background:none;
	height: 3.125rem;
	width: 25rem;
	display:flex;
	align-items: center;
	border-radius: 0.3rem;
	transition: all 0.5s ease;
}

.area-name input,
.area-comment input{
	border:none;
	height: 100%;
	outline: none;
	padding:1px;
	border-radius: 0.3rem;
	flex:1;
}

table {  
    width: 100%; 
    border:none;
    overflow: hidden;
    
}

td, th {  
    border: none; 
    border-color:white;
    border-radius: 1em!important;
    height: 30px; 
    transition: all 0.3s;  
}

th {  
    background:  #180606;  /* Darken header a bit */
    font-weight: bold;
    color:white;
}

td {  
    background: transparent;
    text-align: left;
}



tr td:hover { 
	background-color: #180606;
	color:white; 
	}  



/*======= END FORUM PAGE =====*/

/*============= WAYPOINTS =============*/
			
		.os-animation{
		   opacity: 0;
		   margin: 0!important;
		   max-width: 100%;
		}
		.os-animation.animated {
		   opacity: 1;
		}
		
		/*============= FIXED SECTIONS =============*/
		
			/*--- Fix for Fixed Navbar jumping on scroll --*/
			.fixed-top  {
			 -webkit-backface-visibility: hidden;
			}
			
			/*--- Fixed Landing Page Section --*/
			.landing {
			  position: relative;
			  width: 100%;
			  height: 100vh;
			  display: table;
			  z-index: -1;
			}
			.home-wrap {
			  clip: rect(0, auto, auto, 0);
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			}
			.home-inner {
			  position: fixed; 
			  display: table;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  background-size: cover;
			  background-position: center center;
			  -webkit-transform: translateZ(0);
			          transform: translateZ(0);
			  will-change: transform;
			}
			
			
			.fixed-background {
			  position: relative;
			  width: 100%;
			}
			.fixed-wrap {
			  clip: rect(0, auto, auto, 0);
			  position: absolute;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  z-index: -999!important;
			} 
			/*--- Dark Background Image --*/
			#fixed {
			  position: fixed;
			  display: block;
			  top: 0;
			  left: 0;
			  width: 100%;
			  height: 100%;
			  background-size: cover;
			  background-position: center center;
			  -webkit-transform: translateZ(0);
			          transform: translateZ(0);
			  will-change: transform;
			}
			
			
			}
